@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Poppins&family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#project-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 32% 32% 32%;
  column-gap: 10px;
  row-gap: 10px;
  background-color: white;
}
